
body {
  background-color: #f6edda;
  color: #542e08;
  font-family: georgia, 'Times New Roman', Times, serif;}
Header {
    background-color: #d9ad65;
    color: #542e08;
    text-align: center;
    background-image: url(logo\ mananda.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20em;
    border-style: solid;
}
header a {
    text-decoration: none;
}
header a:link {
    color: #542e08;
}
header a:visited {
    color: #8b5e2c;
}
header a:hover {
    color: chocolate;
}
h1 {
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
h2 {
    color: #8b5e2c;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;}
nav {
    font-size: medium;
    font-weight: bold;
    display: block;
    background-color: #dec6a0;
    text-align: center;
    padding: 1em;
}
nav a {
    text-decoration: none;
    padding: 2em;}
nav a:link {
    color: #542e08;}
nav a:visited { 
    color: #8b5e2c;
}
nav a:hover {
    color: chocolate;
}
footer {
    background-color: #d9ad65;
    color: #542e08;
    text-align: center;
    border-style: solid;
    font-size: small;
    font-style: italic;
    padding: 1em;
    
}
.square {
    width: 80%;
    height: 80%;
    border-style: solid;
    border-width: thin;
    position: fixed;
    margin:50px 50px 50px 50px;
}
.columncenter {
    background-color: #f6edda;
    float: left;
    width: 60%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-left: 5%;
    text-align: center;
}